
.vs/VehicleRentalSolution/v15/.suo
*.cache
VehicleRentalUI/obj/Debug/Tsc.out
VehicleRentalUI/obj/Debug/VehicleRentalUI.pdb
VehicleRentalUI/obj/Debug/VehicleRentalUI.dll
VehicleRentalUI/obj/Debug/VehicleRentalUI.csproj.FileListAbsolute.txt
VehicleRentalUI/obj/Debug/VehicleRentalUI.csproj.CopyComplete
VehicleRentalUI/bin/WebGrease.dll
VehicleRentalUI/bin/VehicleRentalUI.pdb
VehicleRentalUI/bin/VehicleRentalUI.dll.config
VehicleRentalUI/bin/VehicleRentalUI.dll
VehicleRentalUI/bin/System.Web.WebPages.xml
VehicleRentalUI/bin/System.Web.WebPages.Razor.xml
VehicleRentalUI/bin/System.Web.WebPages.Razor.dll
VehicleRentalUI/bin/System.Web.WebPages.dll
VehicleRentalUI/bin/System.Web.WebPages.Deployment.xml
VehicleRentalUI/bin/System.Web.WebPages.Deployment.dll
VehicleRentalUI/bin/System.Web.Razor.xml
VehicleRentalUI/bin/System.Web.Razor.dll
VehicleRentalUI/bin/System.Web.Optimization.xml
VehicleRentalUI/bin/System.Web.Optimization.dll
VehicleRentalUI/bin/System.Web.Mvc.xml
VehicleRentalUI/bin/System.Web.Mvc.dll
VehicleRentalUI/bin/System.Web.Http.xml
VehicleRentalUI/bin/System.Web.Http.WebHost.xml
VehicleRentalUI/bin/System.Web.Http.WebHost.dll
VehicleRentalUI/bin/System.Web.Http.dll
VehicleRentalUI/bin/System.Web.Helpers.xml
VehicleRentalUI/bin/System.Web.Helpers.dll
VehicleRentalUI/bin/System.Net.Http.Formatting.xml
VehicleRentalUI/bin/System.Net.Http.Formatting.dll
VehicleRentalUI/bin/roslyn/VBCSCompiler.exe.config
VehicleRentalUI/bin/roslyn/VBCSCompiler.exe
VehicleRentalUI/bin/roslyn/vbc.rsp
VehicleRentalUI/bin/roslyn/vbc.exe.config
VehicleRentalUI/bin/roslyn/vbc.exe
VehicleRentalUI/bin/roslyn/System.Xml.XPath.XDocument.dll
VehicleRentalUI/bin/roslyn/System.Xml.XPath.dll
VehicleRentalUI/bin/roslyn/System.Xml.XmlDocument.dll
VehicleRentalUI/bin/roslyn/System.Xml.ReaderWriter.dll
VehicleRentalUI/bin/roslyn/System.ValueTuple.dll
VehicleRentalUI/bin/roslyn/System.Text.Encoding.CodePages.dll
VehicleRentalUI/bin/roslyn/System.Security.Principal.Windows.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.Primitives.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.Encoding.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.Algorithms.dll
VehicleRentalUI/bin/roslyn/System.Security.Claims.dll
VehicleRentalUI/bin/roslyn/System.Security.AccessControl.dll
VehicleRentalUI/bin/roslyn/System.Reflection.Metadata.dll
VehicleRentalUI/bin/roslyn/System.IO.Pipes.dll
VehicleRentalUI/bin/roslyn/System.IO.Pipes.AccessControl.dll
VehicleRentalUI/bin/roslyn/System.IO.FileSystem.Primitives.dll
VehicleRentalUI/bin/roslyn/System.IO.FileSystem.dll
VehicleRentalUI/bin/roslyn/System.IO.Compression.dll
VehicleRentalUI/bin/roslyn/System.Diagnostics.StackTrace.dll
VehicleRentalUI/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
VehicleRentalUI/bin/roslyn/System.Console.dll
VehicleRentalUI/bin/roslyn/System.Collections.Immutable.dll
VehicleRentalUI/bin/roslyn/System.AppContext.dll
VehicleRentalUI/bin/roslyn/Microsoft.VisualBasic.Core.targets
VehicleRentalUI/bin/roslyn/Microsoft.Managed.Core.targets
VehicleRentalUI/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
VehicleRentalUI/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
VehicleRentalUI/bin/roslyn/Microsoft.CSharp.Core.targets
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
VehicleRentalUI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
VehicleRentalUI/bin/roslyn/csi.rsp
VehicleRentalUI/bin/roslyn/csi.exe.config
VehicleRentalUI/bin/roslyn/csi.exe
VehicleRentalUI/bin/roslyn/csc.rsp
VehicleRentalUI/bin/roslyn/csc.exe.config
VehicleRentalUI/bin/roslyn/csc.exe
VehicleRentalUI/bin/Newtonsoft.Json.xml
VehicleRentalUI/bin/Newtonsoft.Json.dll
VehicleRentalUI/bin/Microsoft.Web.Infrastructure.dll
VehicleRentalUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
VehicleRentalUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
VehicleRentalUI/bin/Microsoft.ApplicationInsights.xml
VehicleRentalUI/bin/Microsoft.ApplicationInsights.dll
VehicleRentalUI/bin/Microsoft.AI.WindowsServer.xml
VehicleRentalUI/bin/Microsoft.AI.WindowsServer.dll
VehicleRentalUI/bin/Microsoft.AI.Web.xml
VehicleRentalUI/bin/Microsoft.AI.Web.dll
VehicleRentalUI/bin/Microsoft.AI.ServerTelemetryChannel.xml
VehicleRentalUI/bin/Microsoft.AI.ServerTelemetryChannel.dll
VehicleRentalUI/bin/Microsoft.AI.PerfCounterCollector.dll
VehicleRentalUI/bin/Microsoft.AI.DependencyCollector.xml
VehicleRentalUI/bin/Microsoft.AI.DependencyCollector.dll
VehicleRentalUI/bin/Microsoft.AI.Agent.Intercept.dll
VehicleRentalUI/bin/EntityFramework.xml
VehicleRentalUI/bin/EntityFramework.SqlServer.xml
VehicleRentalUI/bin/EntityFramework.SqlServer.dll
VehicleRentalUI/bin/EntityFramework.dll
VehicleRentalUI/bin/ApplicationInsights.config
VehicleRentalUI/bin/Antlr3.Runtime.pdb
VehicleRentalUI/bin/Antlr3.Runtime.dll
VehicleRentalUI.Tests/obj/Debug/build.force
.vs/config/applicationhost.config
.vs/VehicleRentalSolution/v15/Server/sqlite3/storage.ide-shm
.vs/VehicleRentalSolution/v15/Server/sqlite3/storage.ide-wal
VehicleRentalUI.Tests/bin/Debug/ApplicationInsights.config
VehicleRentalUI.Tests/bin/Debug/EntityFramework.dll
VehicleRentalUI.Tests/bin/Debug/EntityFramework.SqlServer.dll
VehicleRentalUI.Tests/bin/Debug/EntityFramework.SqlServer.xml
VehicleRentalUI.Tests/bin/Debug/EntityFramework.xml
VehicleRentalUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
VehicleRentalUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
VehicleRentalUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
VehicleRentalUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
VehicleRentalUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
VehicleRentalUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
VehicleRentalUI.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
VehicleRentalUI.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
VehicleRentalUI.Tests/bin/Debug/Newtonsoft.Json.dll
VehicleRentalUI.Tests/bin/Debug/Newtonsoft.Json.xml
VehicleRentalUI.Tests/bin/Debug/System.Net.Http.Formatting.dll
VehicleRentalUI.Tests/bin/Debug/System.Net.Http.Formatting.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.Helpers.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.Helpers.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.Http.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.Http.WebHost.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.Http.WebHost.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.Http.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.Mvc.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.Mvc.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.Optimization.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.Optimization.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.Razor.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.Razor.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.WebPages.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.WebPages.Razor.dll
VehicleRentalUI.Tests/bin/Debug/System.Web.WebPages.Razor.xml
VehicleRentalUI.Tests/bin/Debug/System.Web.WebPages.xml
VehicleRentalUI.Tests/bin/Debug/VehicleRentalUI.dll
VehicleRentalUI.Tests/bin/Debug/VehicleRentalUI.dll.config
VehicleRentalUI.Tests/bin/Debug/VehicleRentalUI.pdb
VehicleRentalUI.Tests/bin/Debug/VehicleRentalUI.Tests.dll
VehicleRentalUI.Tests/bin/Debug/VehicleRentalUI.Tests.dll.config
VehicleRentalUI.Tests/bin/Debug/VehicleRentalUI.Tests.pdb
VehicleRentalUI.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VehicleRentalUI.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VehicleRentalUI.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VehicleRentalUI.Tests/obj/Debug/VehicleRentalUI.Tests.csproj.CopyComplete
VehicleRentalUI.Tests/obj/Debug/VehicleRentalUI.Tests.csproj.FileListAbsolute.txt
VehicleRentalUI.Tests/obj/Debug/VehicleRentalUI.Tests.dll
VehicleRentalUI.Tests/obj/Debug/VehicleRentalUI.Tests.pdb
VehicleRentalUI/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VehicleRentalUI/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VehicleRentalUI/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/config/applicationhost.config
VehicleRentalUI/obj/Release/VehicleRentalUI.pdb
VehicleRentalUI/obj/Release/VehicleRentalUI.dll
VehicleRentalUI/obj/Release/VehicleRentalUI.csproj.FileListAbsolute.txt
VehicleRentalUI/obj/Release/VehicleRentalUI.csproj.CopyComplete
VehicleRentalUI/obj/Release/Tsc.out
VehicleRentalUI/obj/Release/TransformWebConfig/transformed/Web.config
VehicleRentalUI/obj/Release/TransformWebConfig/original/Web.config
VehicleRentalUI/obj/Release/TransformWebConfig/assist/Web.config
VehicleRentalUI/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
VehicleRentalUI/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VehicleRentalUI/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VehicleRentalUI/obj/Release/Package/PackageTmp/Web.config
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Web.config
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Vehicles/Index.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Vehicles/Edit.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Vehicles/Details.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Vehicles/Delete.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Vehicles/Create.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Shared/Error.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Shared/_Layout.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Home/Index.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Home/Contact.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Home/About.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Customers/Index.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Customers/Edit.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Customers/Details.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Customers/Delete.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/Customers/Create.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Views/_ViewStart.cshtml
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/umd/popper-utils.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/respond.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/respond.matchmedia.addListener.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/respond.matchmedia.addListener.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/respond.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/README.md
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper-utils.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper-utils.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper-utils.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/popper-utils.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/modernizr-2.8.3.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery.validate.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery.validate.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.min.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.slim.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.min.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/jquery-3.3.1.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/esm/popper-utils.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.min.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.min.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.js.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Scripts/bootstrap.bundle.js
VehicleRentalUI/obj/Release/Package/PackageTmp/Global.asax
VehicleRentalUI/obj/Release/Package/PackageTmp/favicon.ico
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/Site.css
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap.min.css.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap.min.css
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap.css.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap.css
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.min.css.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.min.css
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.css.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-reboot.css
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-grid.min.css.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-grid.min.css
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-grid.css.map
VehicleRentalUI/obj/Release/Package/PackageTmp/Content/bootstrap-grid.css
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/WebGrease.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/VehicleRentalUI.pdb
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/VehicleRentalUI.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Razor.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.WebPages.Deployment.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.Razor.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.Optimization.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.Mvc.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.Http.WebHost.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.Http.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Web.Helpers.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/System.Net.Http.Formatting.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe.config
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/VBCSCompiler.exe
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/vbc.rsp
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe.config
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/vbc.exe
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.XDocument.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XPath.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.XmlDocument.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Xml.ReaderWriter.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.ValueTuple.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Text.Encoding.CodePages.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Principal.Windows.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Primitives.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Encoding.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Cryptography.Algorithms.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.Claims.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Security.AccessControl.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Reflection.Metadata.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Pipes.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Pipes.AccessControl.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.Primitives.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.FileSystem.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.IO.Compression.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.StackTrace.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Console.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.Collections.Immutable.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/System.AppContext.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.VisualBasic.Core.targets
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Managed.Core.targets
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CSharp.Core.targets
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/csi.rsp
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe.config
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/csi.exe
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/csc.rsp
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe.config
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/roslyn/csc.exe
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Newtonsoft.Json.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.Web.Infrastructure.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.ApplicationInsights.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.AI.WindowsServer.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Web.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.AI.ServerTelemetryChannel.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.AI.PerfCounterCollector.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.AI.DependencyCollector.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Microsoft.AI.Agent.Intercept.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/EntityFramework.SqlServer.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/EntityFramework.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/ApplicationInsights.config
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.pdb
VehicleRentalUI/obj/Release/Package/PackageTmp/bin/Antlr3.Runtime.dll
VehicleRentalUI/obj/Release/Package/PackageTmp/ApplicationInsights.config
VehicleRentalUI/obj/Release/_WPPLastBuildInfo.txt
VehicleRentalUI.Tests/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
VehicleRentalUI.Tests/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
VehicleRentalUI.Tests/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/VehicleRentalSolution/v15/Server/sqlite3/storage.ide
VehicleRentalUI/Properties/PublishProfiles/FolderProfile.pubxml.user
VehicleRentalUI/Properties/PublishProfiles/FolderProfile.pubxml
.vs/VehicleRentalSolution/v15/Server/sqlite3/storage.ide
.vs/VehicleRentalSolution/v15/Server/sqlite3/storage.ide
