
.vs/VehicleRentalSolution/v15/.suo
*.cache
VehicleRentalUI/obj/Debug/Tsc.out
VehicleRentalUI/obj/Debug/VehicleRentalUI.pdb
VehicleRentalUI/obj/Debug/VehicleRentalUI.dll
VehicleRentalUI/obj/Debug/VehicleRentalUI.csproj.FileListAbsolute.txt
VehicleRentalUI/obj/Debug/VehicleRentalUI.csproj.CopyComplete
VehicleRentalUI/bin/WebGrease.dll
VehicleRentalUI/bin/VehicleRentalUI.pdb
VehicleRentalUI/bin/VehicleRentalUI.dll.config
VehicleRentalUI/bin/VehicleRentalUI.dll
VehicleRentalUI/bin/System.Web.WebPages.xml
VehicleRentalUI/bin/System.Web.WebPages.Razor.xml
VehicleRentalUI/bin/System.Web.WebPages.Razor.dll
VehicleRentalUI/bin/System.Web.WebPages.dll
VehicleRentalUI/bin/System.Web.WebPages.Deployment.xml
VehicleRentalUI/bin/System.Web.WebPages.Deployment.dll
VehicleRentalUI/bin/System.Web.Razor.xml
VehicleRentalUI/bin/System.Web.Razor.dll
VehicleRentalUI/bin/System.Web.Optimization.xml
VehicleRentalUI/bin/System.Web.Optimization.dll
VehicleRentalUI/bin/System.Web.Mvc.xml
VehicleRentalUI/bin/System.Web.Mvc.dll
VehicleRentalUI/bin/System.Web.Http.xml
VehicleRentalUI/bin/System.Web.Http.WebHost.xml
VehicleRentalUI/bin/System.Web.Http.WebHost.dll
VehicleRentalUI/bin/System.Web.Http.dll
VehicleRentalUI/bin/System.Web.Helpers.xml
VehicleRentalUI/bin/System.Web.Helpers.dll
VehicleRentalUI/bin/System.Net.Http.Formatting.xml
VehicleRentalUI/bin/System.Net.Http.Formatting.dll
VehicleRentalUI/bin/roslyn/VBCSCompiler.exe.config
VehicleRentalUI/bin/roslyn/VBCSCompiler.exe
VehicleRentalUI/bin/roslyn/vbc.rsp
VehicleRentalUI/bin/roslyn/vbc.exe.config
VehicleRentalUI/bin/roslyn/vbc.exe
VehicleRentalUI/bin/roslyn/System.Xml.XPath.XDocument.dll
VehicleRentalUI/bin/roslyn/System.Xml.XPath.dll
VehicleRentalUI/bin/roslyn/System.Xml.XmlDocument.dll
VehicleRentalUI/bin/roslyn/System.Xml.ReaderWriter.dll
VehicleRentalUI/bin/roslyn/System.ValueTuple.dll
VehicleRentalUI/bin/roslyn/System.Text.Encoding.CodePages.dll
VehicleRentalUI/bin/roslyn/System.Security.Principal.Windows.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.X509Certificates.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.Primitives.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.Encoding.dll
VehicleRentalUI/bin/roslyn/System.Security.Cryptography.Algorithms.dll
VehicleRentalUI/bin/roslyn/System.Security.Claims.dll
VehicleRentalUI/bin/roslyn/System.Security.AccessControl.dll
VehicleRentalUI/bin/roslyn/System.Reflection.Metadata.dll
VehicleRentalUI/bin/roslyn/System.IO.Pipes.dll
VehicleRentalUI/bin/roslyn/System.IO.Pipes.AccessControl.dll
VehicleRentalUI/bin/roslyn/System.IO.FileSystem.Primitives.dll
VehicleRentalUI/bin/roslyn/System.IO.FileSystem.dll
VehicleRentalUI/bin/roslyn/System.IO.Compression.dll
VehicleRentalUI/bin/roslyn/System.Diagnostics.StackTrace.dll
VehicleRentalUI/bin/roslyn/System.Diagnostics.FileVersionInfo.dll
VehicleRentalUI/bin/roslyn/System.Console.dll
VehicleRentalUI/bin/roslyn/System.Collections.Immutable.dll
VehicleRentalUI/bin/roslyn/System.AppContext.dll
VehicleRentalUI/bin/roslyn/Microsoft.VisualBasic.Core.targets
VehicleRentalUI/bin/roslyn/Microsoft.Managed.Core.targets
VehicleRentalUI/bin/roslyn/Microsoft.DiaSymReader.Native.x86.dll
VehicleRentalUI/bin/roslyn/Microsoft.DiaSymReader.Native.amd64.dll
VehicleRentalUI/bin/roslyn/Microsoft.CSharp.Core.targets
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.VisualBasic.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.Scripting.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.Scripting.dll
VehicleRentalUI/bin/roslyn/Microsoft.CodeAnalysis.CSharp.dll
VehicleRentalUI/bin/roslyn/Microsoft.Build.Tasks.CodeAnalysis.dll
VehicleRentalUI/bin/roslyn/csi.rsp
VehicleRentalUI/bin/roslyn/csi.exe.config
VehicleRentalUI/bin/roslyn/csi.exe
VehicleRentalUI/bin/roslyn/csc.rsp
VehicleRentalUI/bin/roslyn/csc.exe.config
VehicleRentalUI/bin/roslyn/csc.exe
VehicleRentalUI/bin/Newtonsoft.Json.xml
VehicleRentalUI/bin/Newtonsoft.Json.dll
VehicleRentalUI/bin/Microsoft.Web.Infrastructure.dll
VehicleRentalUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
VehicleRentalUI/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
VehicleRentalUI/bin/Microsoft.ApplicationInsights.xml
VehicleRentalUI/bin/Microsoft.ApplicationInsights.dll
VehicleRentalUI/bin/Microsoft.AI.WindowsServer.xml
VehicleRentalUI/bin/Microsoft.AI.WindowsServer.dll
VehicleRentalUI/bin/Microsoft.AI.Web.xml
VehicleRentalUI/bin/Microsoft.AI.Web.dll
VehicleRentalUI/bin/Microsoft.AI.ServerTelemetryChannel.xml
VehicleRentalUI/bin/Microsoft.AI.ServerTelemetryChannel.dll
VehicleRentalUI/bin/Microsoft.AI.PerfCounterCollector.dll
VehicleRentalUI/bin/Microsoft.AI.DependencyCollector.xml
VehicleRentalUI/bin/Microsoft.AI.DependencyCollector.dll
VehicleRentalUI/bin/Microsoft.AI.Agent.Intercept.dll
VehicleRentalUI/bin/EntityFramework.xml
VehicleRentalUI/bin/EntityFramework.SqlServer.xml
VehicleRentalUI/bin/EntityFramework.SqlServer.dll
VehicleRentalUI/bin/EntityFramework.dll
VehicleRentalUI/bin/ApplicationInsights.config
VehicleRentalUI/bin/Antlr3.Runtime.pdb
VehicleRentalUI/bin/Antlr3.Runtime.dll
VehicleRentalUI.Tests/obj/Debug/build.force
